* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

p {
    word-break: break-all;
}

.tela-inicial {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #FFFFFF;
}

.tela-inicial img:nth-child(1) {
    width: 150px;
    height: 100px;

    margin-top: 90px;
}

.tela-inicial input {
    height: 55px;
    width: 70%;

    margin-top: 50px;

    text-align: center;

    outline: none;

    font-size: 18px;

    border: 1px solid #D7D7D7;
}

.tela-inicial button {
    height: 50px;
    width: 110px;

    font-size: 18px;

    margin-top: 15px;
    
    border: 1px solid black;
    border-radius: 10px;
    
    background-color: #E7E7E7;
    color: #696969;
}

.chat-uol {
    display: none;
}

.barra-do-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;
    height: 80px;

    box-shadow: 0 0 15px 4px rgb(231, 225, 225);

    background-color: #FFFFFF;
}

.barra-do-topo img {
    margin-left: 5%;
    margin-top: 3%;
}

.barra-do-topo ion-icon {
    font-size: 50px;
    margin-right: 5%;
}

.caixa-de-mensagens {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    width: 100%;

    margin-top: 110px;
    margin-bottom: 80px;

    background-color: #f3f3f3;
}

.caixa-de-mensagens > div {
    display: flex;
    flex-wrap: wrap;
    
    padding: 13px;

    margin-bottom: 5px;
}

.caixa-de-mensagens p{    
    font-size: 14px;

    color: #000000;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private_message {
    background-color: #FFDEDE;
}

.time {
    color: #AAAAAA;
}

.name {
    font-weight: bold;
}

.barra-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: 2;

    width: 100%;
    height: 80px;

    box-shadow: 0 0 15px 4px rgb(231, 225, 225);

    background-color: #FFFFFF;
}

.barra-inferior input:nth-child(1) {
    margin-left: 4%;

    border: none;
    outline: none;

    font-size: 18px;
}

.barra-inferior input::placeholder {
    color: #000000;
    font-style: italic;
}

.barra-inferior button {
    border: none;
    margin-right: 4%;
    background-color: #FFFFFF;
}